.login {
  // width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 1rem;

  .top-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 1rem;

    .top-left-area {
      flex: 0.9;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .avatar {
        width: 2.5rem;
        height: 2.5rem;
      }

      .title {
        font-size: 1.1rem;
        font-weight: 500;
        margin-left: 1rem;
      }
    }

    .top-right-area {
      flex: 0.1;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    .add-drug-icon {
      width: 1.3rem;
      height: 1.3rem;
    }
  }

  .login-area {

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: #A9A9A9;
    margin-bottom: 1rem;
    font-size: 0.9rem;

    .login-button {
      background: #FB9828;
      border-radius: 1rem;
      outline: none;
      list-style: none;
      margin-left: 0.5rem;
      padding: 0rem 0.5rem;
      line-height: 1.5;
    }

    .login-button::after {
      border: none;
    }
  }

  .search-area {
    flex: 0.05;
    background-color: #ddd;
    border-radius: 0.2rem;
  }

  .drug-list-area {
    background-color: #bbb;
  }

}
