.medicine-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-top: 1px solid rgba(230, 230, 230, 0.7);
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  transition: background-color 0.1s ease;

  .title {
    font-size: 2rem;
  }

  .desc {
    font-size: 1rem;
  }

}

