@import "~taro-ui/dist/style/components/flex.scss";

.medicine-list {
  background: #ffffff;

  .desc-wrapper {
    //height: 80px;
    margin-top: 10px;
    .desc-text {
      opacity: 0.3;
      font-family: PingFangSC-Regular;
      font-size: 28px;
      color: rgba(0, 0, 0, 0.9);
      letter-spacing: 0;
      padding-left: 42.66px;
    }
  }
}
