@import "~taro-ui/dist/style/components/flex.scss";
@import "src/custom-variables";

.banner {
  .indicator {
    height: 10px;
    background: $color-brand;
  }

  .indicator-show {
    animation: indicator-show-animation 300ms ease;
  }

  .indicator-hide {
    animation: indicator-hide-animation 300ms ease;
  }

  @keyframes indicator-show-animation {
    0% {
      background: white;
    }
    100% {
      margin-top: $color-brand;
    }
  }

  @keyframes indicator-hide-animation {
    0% {
      background: $color-brand;
    }
    100% {
      background: white;
    }
  }
}
