@import "~taro-ui/dist/style/components/flex.scss";
@import "src/custom-variables";
@import "src/assets/iconfont/iconfont";

.result-item {

  .name {
    font-size: large;
  }

  .vendor {
    font-size: small;
    font-weight: bold;
  }
}
