.login {
  // width: 100vw;
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 1rem;

  .top-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 1rem;

    .top-left-area {
      flex: 9;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .avatar {
        width: 2.5rem;
        height: 2.5rem;
      }

      .group {
        height: 100%;
        margin-top: 1rem;
        margin-left: 0.5rem;
      }
    }

    .top-right-area {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      padding-right: 3px;
      align-items: center;

      .add-drug-icon {
        width: 1.3rem;
        height: 1.3rem;
      }
    }


  }

  .login-area {

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: #A9A9A9;
    margin-bottom: 1rem;
    font-size: 0.9rem;

    .login-button {
      background: #FB9828;
      border-radius: 1rem;
      outline: none;
      list-style: none;
      margin-left: 0.5rem;
      padding: 0 0.5rem;
      line-height: 1.5;
    }

    .login-button::after {
      border: none;
    }
  }

  .search-area {
    height: 60px;
    flex: 0.05;
    // border: 1px solid #FB9828;
    // border-radius: 0.2rem;

    .search-input {
      background-color: #eee;
      line-height: 1.5;
      height: 100%;
      padding: 0 0.8rem;
      border-radius: 0.3rem;
      font-size: 0.9rem;
    }

  }
}

