.medicine {

  .banner {
    .indicator {
      height: 10px;
      background: #FB9828;
    }
  }

  .info {
    padding-left: 10px;
    padding-right: 10px;

    .basics {
      margin-top: 20px;
    }

    .extras {
      margin-top: 20px;
    }
  }

}
