@import "src/custom-variables";

$search-and-result-padding: 50px;

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 100vh;

  .tip {
    margin-top: 200px;
    margin-bottom: 150px;

    .at-article__h3 {
      color: $tip;
    }
  }

  .search-bar {

    padding-left: $search-and-result-padding;
    padding-right: $search-and-result-padding;

    .search {
    }

    .searched {
      margin-top: 30px;
      margin-bottom: 20px;
      animation: search-animation 300ms ease;
    }

    @keyframes search-animation {
      0% {
        margin-top: 350px;
      }
      100% {
        margin-top: 30px;
      }
    }
  }

  .result-view {
    flex: 1;
    height: auto;

    .search-result {
      margin-top: 10px;
      padding-left: $search-and-result-padding;
      padding-right: $search-and-result-padding;
    }

  }

  .manually-view {
    margin-bottom: $iphone-x-indicator-height;
    //background-color: red;

    .manually-input {

      .manual-btn.at-button {
        color: $plain-color;
        background: $plain-background;
        border: $plain-background;
      }
    }
  }
}
