@import "~taro-ui/dist/style/components/flex.scss";
@import "src/custom-variables";

.medicine {

  .image-and-banner {
    background: white;
    position: sticky;
    top: 0;
    z-index: 1000;
  }

  .info {
    padding-left: 10px;
    padding-right: 10px;

    .basics {
      margin-top: 20px;
    }

    .mores {
      margin-top: 20px;
    }
  }

  .operation {
    width: 100%;
    margin-top: 20px;
    position: sticky;
  }

}
