@import "~taro-ui/dist/style/components/flex.scss";
@import "src/custom-variables";

.medicine {

  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 100vh;

  .image {
  }

  .rest {
    flex: 1;

    display: flex;
    flex-direction: column;

    .banner {
      position: sticky;
      top: 0;
      background: white;
    }

    .info {
      padding-top: 10px;
      padding-left: 10px;
      padding-right: 10px;
      background: white;
      flex: 1;
    }

    .operation {
      width: 100%;
      margin-top: 20px;
    }
  }

}
