@import "src/custom-variables";
@import "src/assets/iconfont/iconfont";

.success-info {
  margin-top: 350px;
  margin-bottom: 150px;

  .icon-success {
    color: #24e023;
    font-size: 100px;
    margin-bottom: 40px;
  }
}

.continue-input {
  position: absolute;
  bottom: 0;
  margin-bottom: $iphone-x-indicator-height;

  .continue-btn.at-button {
    color: $plain-color;
    background: $plain-background;
    border: $plain-background;
  }
}
