$color-brand: #FB9828;
$tip: #AEAEAE;
$iphone-x-indicator-height: 34px;

$primary-color: white;
$primary-background: $color-brand;
$plain-color: $color-brand;
$plain-background: white;
$danger-color: red;
$danger-background: white;
$font-size-base: 1rem;
$font-size-small: 0.8rem;
$font-size-middle: 0.9rem
