@import "src/custom-variables";

.action {
  margin-bottom: $iphone-x-indicator-height;

  .add.at-button {
    color: $primary-color;
    background: $primary-background;
    border: $primary-background;
  }

  .delete.at-button {
    color: $danger-color;
    background: $danger-background;
    border: $danger-background;
  }
}
