@import "~taro-ui/dist/style/components/modal.scss";
@import "src/custom-variables";

.action {
  margin-bottom: $iphone-x-indicator-height;

  .add.at-button {
    color: $primary-color;
    background: $primary-background;
    border: $primary-background;
    height: $at-button-height;
    font-size: $font-size-lg;
    line-height: $at-button-height - 2;
  }

  .delete.at-button {
    color: $danger-color;
    background: $danger-background;
    border: $danger-background;
    height: $at-button-height;
    font-size: $font-size-lg;
    line-height: $at-button-height - 2;
  }
}

.delete-confirm {
  color: red;
}

.at-button{
  border: none;
  height: 1.5rem;
  line-height: 1.5rem;
  color: $tip;
}

