@import "src/custom-variables";

.action {
  .add.at-button {
    color: white;
    background: $color-brand;
    border: $color-brand;
  }

  .delete.at-button {
    color: red;
    background: white;
    border: white;
  }
}
